.card__container {
    /* background-color: aqua; */
    padding: 1rem;
    color: black;
}

.card__inside {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.card__row {
    display: flex;
    flex-wrap: wrap;
}

.card__pic_cont {
    position: relative;
    padding: 0 15px;
    max-width: 38%;
    flex: 0 0 38%;
}

.card__text_cont {
    position: relative;
    padding: 0 1rem;
    max-width: 56%;
    flex: 0 0 56%;
    order: 1;
}

.text__inside_cont {
    padding: 3rem 1rem;
}

.text__inside_cont h4 {
    color: #7d4698;
    padding-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 400;
}

.text__inside_cont p {
    font-size: 1.3rem;
    color: #212529;
    line-height: 2rem;
    text-align: left;
    font-weight: normal;
}