.main_footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1000;
    background-color: #59316b;
    text-align: left;
}

.row_footer {
    display: flex;
    flex-wrap: wrap;
}

.onion_pattern {
    direction: rtl;
    max-height: 280px;
    display: flex;
    max-width: 33.33%;
    flex: 0 0 33.33%;
}

.download_section {
    max-width: 36rem;
    margin-top: 8rem;
    display: flex;
    flex: 0 0 66.66%;
}

.download_section_inside {
    max-width: 1140px;
    padding: 0 15px;
    padding-bottom: 3rem;
}

.download_section_inside h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-top: 0;
}

.download_section_inside p {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: rem;
    margin-top: 0;
}

.download_section_inside a {
    text-decoration: none;
    background-color: white;
    color: #7d4698;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid white;
    border-radius: .25rem;
    margin-top: .5rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.second_row {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex: 0 0 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.our_mission_subscribe {
    margin-top: .5rem;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

.our_mission_subscribe h5 {
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2rem;
    margin: 3rem 0 0.5rem 0;
}

.our_mission_subscribe .mission {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.footer_menu__social_icon {
    margin-top: 3rem;
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

.footer_menu__inside {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.footer_menu__inside li {
    list-style: none;
}

.footer_menu__inside li a {
    padding: .2rem;
    display: block;
    text-decoration: none;
    color: white;
}

.f_donate_btn {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2rem;
    color: white;
}

.f_donate_btn span {
    padding: .5rem;
    margin-top: .5rem;
    color: #111;
    background-color: #ffbf00;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.our_mission_subscribe .Subscribe {
    color: #e6d5ee;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.our_mission_subscribe .text {
    color: #f8f9fa;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.our_mission_subscribe .subscribe_btn {
    color: #bbb;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.subscribe_btn a {
    color: white;
    background-color: #3c2148;
    border-color: #351d3f;
    box-shadow: 0 0 0 .2rem rgba(89, 49, 107, .5);
    margin-top: .5rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid white;
    text-decoration: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: .25rem;
}

.row_footer h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
    padding: 0 5px;
}

.row_footer h4 a {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    text-decoration: none;
}

.last_section {
    margin-top: 3rem;
    flex: 0 0 66.66%;
    max-width: 66.66%;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
}

.last_section p {
    color: #f8f9fa;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.last_section p a {
    color: #f8f9fa;
    font-size: 1.3rem;
    line-height: 2rem;
}

.language_btn {
    float: right;
    position: relative;
}


.language_btn button{
    display: block;
    background-color: #7d4698;
    color: white;
    border-color: #7d4698;
    border-radius: .3rem;
    padding: 7px 15px;
    font-size: medium;
}

.language_btn button:hover{
    background-color: #714089;
}