header {
    background-color: #59316b;
    display: block;
    padding: 30px;
}


.header__inner {
    
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    background-repeat: no-repeat;
    background-position: 10px 12px;
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 20px;
}

.navbar img {
    max-width: 7vw;
}

.navbar a {
    text-decoration: none;
}

.navbar .header__donate-btn {
    padding-left: 20px;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.navbar .header__btn {
    color: #111;
    background-color: #ffbf00;
    padding: 10px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    border-radius: 5px;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header__nav ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.header__nav .nav-link{
    display: block;
    padding: 5px 8px;
    color: white;
}

.header__nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.742);
}

.language button{
    display: block;
    background-color: #59316b;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: medium;
}

.download__btn a{
    background-color: #59316b;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: medium;
}

.download__btn a:hover{
    background-color: white;
    color: #59316b;
}