.hero-sec {
    height: 90vh;
    background-color: #59316b;
}

.hero-sec .main-heading {
    color: white;
    padding-top: 17vh;
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.hero-sec .sub-heading {
    color: white;
    padding: 30px 0 70px 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.70rem;
}

.hero__download__btn a{
    background-color: #59316b;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
}

.hero__download__btn a:hover{
    background-color: white;
    color: #59316b;
}