.home__cards_cont {
    width: 100%;
    padding: 0 15px;
    /* margin: auto; */
}

.home__cards_inside {
    padding-top: 3rem;
    max-width: 1140px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.lower__hero {
    padding-top: 3rem;
    max-width: 1140px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}

.lower__hero h6 {
    font-weight: 600;
    color: #7d4698;
    font-size: 1rem;
    text-align: left;
}

.lower__hero p {
    text-align: left;
    font-size: 4.1rem;
    font-weight: 300;
    color: #212529;
    line-height: 5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.lower__hero a{
    color: #7d4698;
    text-decoration: none;
}
.lower__hero a:hover{
    text-decoration: underline;
}